
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    Swabra.io
  </title>
  <link href="{% static 'components/dummy-assets/common/img/favicon.ico' %}" rel="shortcut icon">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">

  <!-- VENDORS -->
  <!-- v2.0.2 -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/perfect-scrollbar/css/perfect-scrollbar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/ladda/dist/ladda-themeless.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/select2/dist/css/select2.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/tempus-dominus-bs4/build/css/tempusdominus-bootstrap-4.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/fullcalendar/dist/fullcalendar.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/bootstrap-sweetalert/dist/sweetalert.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/summernote/dist/summernote.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/ionrangeslider/css/ion.rangeSlider.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/r-2.2.2/datatables.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/c3/c3.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/chartist/dist/chartist.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/nprogress/nprogress.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/jquery-steps/demo/css/jquery.steps.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/dropify/dist/css/dropify.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/font-linearicons/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/font-icomoon/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
  <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendors/popper.js/dist/umd/popper.js' %}"></script>
  <script src="{% static 'vendors/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.js' %}"></script>
  <script src="{% static 'vendors/jquery-mousewheel/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'vendors/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
  <script src="{% static 'vendors/spin.js/spin.js' %}"></script>
  <script src="{% static 'vendors/ladda/dist/ladda.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
  <script src="{% static 'vendors/html5-form-validation/dist/jquery.validation.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-typeahead/dist/jquery.typeahead.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-mask-plugin/dist/jquery.mask.min.js' %}"></script>
  <script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-show-password/bootstrap-show-password.min.js' %}"></script>
  <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'vendors/tempus-dominus-bs4/build/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'vendors/fullcalendar/dist/fullcalendar.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap-sweetalert/dist/sweetalert.min.js' %}"></script>
  <script src="{% static 'vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js' %}"></script>
  <script src="{% static 'vendors/summernote/dist/summernote.min.js' %}"></script>
  <script src="{% static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/ionrangeslider/js/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'vendors/nestable/jquery.nestable.js' %}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fc-3.2.5/r-2.2.2/datatables.min.js"></script>
  <script src="{% static 'vendors/editable-table/mindmup-editabletable.js' %}"></script>
  <script src="{% static 'vendors/d3/d3.min.js' %}"></script>
  <script src="{% static 'vendors/c3/c3.min.js' %}"></script>
  <script src="{% static 'vendors/chartist/dist/chartist.min.js' %}"></script>
  <script src="{% static 'vendors/peity/jquery.peity.min.js' %}"></script>
  <script src="{% static 'vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-countTo/jquery.countTo.js' %}"></script>
  <script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
  <script src="{% static 'vendors/jquery-steps/build/jquery.steps.min.js' %}"></script>
  <script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/dropify/dist/js/dropify.min.js' %}"></script>
  <script src="{% static 'vendors/d3-dsv/dist/d3-dsv.js' %}"></script>
  <script src="{% static 'vendors/d3-time-format/dist/d3-time-format.js' %}"></script>
  <script src="{% static 'vendors/techan/dist/techan.min.js' %}"></script>

  <!-- CLEAN UI HTML ADMIN TEMPLATE MODULES-->
  <!-- v2.0.2 -->
  <link rel="stylesheet" type="text/css" href="{% static 'components/core/common/core.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/core/widgets/widgets.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/vendors/common/vendors.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/settings/common/settings.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/settings/themes/themes.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/menu-left/common/menu-left.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/menu-top/common/menu-top.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/menu-right/common/menu-right.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/top-bar/common/top-bar.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/breadcrumbs/common/breadcrumbs.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/footer/common/footer.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/pages/common/pages.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/ecommerce/common/ecommerce.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/apps/common/apps.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/blog/common/blog.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/youtube/common/youtube.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/github/common/github.cleanui.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/docs/common/docs.cleanui.css' %}">
  <script src="{% static 'components/menu-left/common/menu-left.cleanui.js' %}"></script>
  <script src="{% static 'components/menu-top/common/menu-top.cleanui.js' %}"></script>
  <script src="{% static 'components/menu-right/common/menu-right.cleanui.js' %}"></script>
  <script src="{% static 'components/blog/common/blog.cleanui.js' %}"></script>
  <script src="{% static 'components/github/common/github.cleanui.js' %}"></script>


  <!-- PRELOADER STYLES-->
  <style>
    .cui-initial-loading {
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDFweCIgIGhlaWdodD0iNDFweCIgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIiBjbGFzcz0ibGRzLXJvbGxpbmciPiAgICA8Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiBmaWxsPSJub25lIiBuZy1hdHRyLXN0cm9rZT0ie3tjb25maWcuY29sb3J9fSIgbmctYXR0ci1zdHJva2Utd2lkdGg9Int7Y29uZmlnLndpZHRofX0iIG5nLWF0dHItcj0ie3tjb25maWcucmFkaXVzfX0iIG5nLWF0dHItc3Ryb2tlLWRhc2hhcnJheT0ie3tjb25maWcuZGFzaGFycmF5fX0iIHN0cm9rZT0iIzAxOTBmZSIgc3Ryb2tlLXdpZHRoPSIxMCIgcj0iMzUiIHN0cm9rZS1kYXNoYXJyYXk9IjE2NC45MzM2MTQzMTM0NjQxNSA1Ni45Nzc4NzE0Mzc4MjEzOCIgdHJhbnNmb3JtPSJyb3RhdGUoODQgNTAgNTApIj4gICAgICA8YW5pbWF0ZVRyYW5zZm9ybSBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgY2FsY01vZGU9ImxpbmVhciIgdmFsdWVzPSIwIDUwIDUwOzM2MCA1MCA1MCIga2V5VGltZXM9IjA7MSIgZHVyPSIxcyIgYmVnaW49IjBzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSI+PC9hbmltYXRlVHJhbnNmb3JtPiAgICA8L2NpcmNsZT4gIDwvc3ZnPg==);
      background-color: #f2f4f8;
    }
  </style>
  <script>
    $(document).ready(function () {
      $('.cui-initial-loading').delay(200).fadeOut(400)
    })
  </script>
</head>
<body class="cui-config-borderless cui-config-fixed-width cui-menu-colorful cui-theme-light">
<div class="cui-initial-loading"></div>
<div class="cui-layout">

<div class="cui-layout">
<div class="cui-layout-header">

<script>
  ;(function($) {
    'use strict'
    $(function() {
      ///////////////////////////////////////////////////////////
      // livesearch scripts

      var livesearch = $('.cui-topbar-livesearch')
      var close = $('.cui-topbar-livesearch-close')
      var visibleClass = 'cui-topbar-livesearch-visible'
      var input = $('#livesearch-input')
      var inputInner = $('#livesearch-input-inner')

      function setHidden() {
        livesearch.removeClass(visibleClass)
      }
      function handleKeyDown(e) {
        const key = event.keyCode.toString()
        if (key === '27') {
          setHidden()
        }
      }
      input.on('focus', function() {
        livesearch.addClass(visibleClass)
        setTimeout(function() {
          inputInner.focus()
        }, 200)
      })
      close.on('click', setHidden)
      document.addEventListener('keydown', handleKeyDown, false)
    })
  })(jQuery)
</script>
</div>
<div class="cui-layout-content">
    <div class="cui-utils-content">
        <div class="container" style="height:88vh">
        <div style="padding-bottom: 2em;">
            <h1 class="text-center jumbotron">Something went wrong!
            </h1>
        </div>
        <a href="/" class="btn btn-success"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
        </div>
    </div>
</div></div></div>
</body>
</html>

{% endblock %}


